#mainArea{
	width: calc(100% - 80px);
	margin-left: 40px;
}
#mainArea #searchBar{
	padding: 0 20px;
	margin: 20px 0;
	background: #ffffff;
}
#mainArea #searchBar li{
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}
#mainArea #searchBar .searchTitle{
	width: 80px;
	text-align: right;
	font-size: 16px;
	color: #FA6D35;
	float: left;
}
#mainArea #searchBar .active{
	color: #ffffff;
	background: #FA6D35;
}
.managementTypeChoose,.managementProductChoose,.locationChoose{
	width: calc(100% - 80px);
	float: left;
	overflow: hidden;
}
#searchBar .managementTypeChoose span,#searchBar .managementProductChoose span,#searchBar .locationChoose span{
	margin-right: 10px;
	cursor: pointer;
	float: left;
	line-height: 25px;
	padding: 0 5px;
	margin-bottom: 15px;
}
.managementTypeChoose span:hover,.managementProductChoose span:hover,.locationChoose span:hover{
	color: #ffffff;
	background: #FA6D35;
}
#searchBar #keyWord{
	width: 250px;
	height: 40px;
	outline: none;
	border: 1px solid #a5b0b9;
	text-indent: 10px;
	float: right;
	color: #666666;
}
#searchBar #searchBtn{
	width: 60px;
	height: 42px;
	background: #FA6D35;
	color: #ffffff;
	text-align: center;
	line-height: 42px;
	float: right;
	cursor: pointer;
}
#companyList{
	margin-top: 20px;
}
#companyList ul li{
	background: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
	overflow: hidden;
}
#companyList .listLeft{
	float: left;
	width: 30%;
}
#companyList .listLeft div{
	margin: 10px 0;
	overflow: hidden;
}
#companyList .listLeft div span{
	color: #666666;
	float: left;
}
#companyList .listLeft div .leftTitle{
	color: #a1a1a1;
	width: 80px;
	margin-right: 20px;
}
#companyList .listLeft .companyName{
	font-size: 22px;
	color: #000000;
}
#companyList .listLeft .companyName:hover{
	cursor: pointer;
	color: #fa6d35;
}
#companyList .listRight{
	float: right;
	overflow: hidden;
	margin: 27px 0;
	width: 70%;
}
.listRight img{
	float: left;
	width: calc(25% - 30px);
	margin-left: 40px;
}
.listRight img:first-child{
	margin-left:0;
}
#companyList #pageNumList{
	margin-bottom: 20px;
	overflow: hidden;
}
#companyList #pageNumList ul{
	overflow: hidden;
	float: right;
}
#pageNumList ul li{
	float: left;
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}
#pageNumList ul li span{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	border-left: 2px solid #cccccc;
	cursor: pointer;
}
#pageNumList ul li span img{
	margin: 7px 0;
}
#pageNumList li .active{
	color: #ffffff;
	background: #FA6D35;
	border: 2px solid #FA6D35;
}
#pageNumList li .activeNext{
	border-left: 0;
}
#pageNumList .pageNumbers{
	/*width: 160px;*/
	overflow: hidden;
}
#pageNumList #pageNumPullDown{
	height: 30px;
	border: 2px solid #cccccc;
	margin-left: 10px;
}
#pageNumPullDown span{
	border-width: 0;
}
#pageNumPullDown div{
	overflow: hidden;
}
#pageNumPullDown div p{
	float: left;
	width: 25px;
	text-align: center;
	line-height: 30px;
}
#pageNumPullDown div img{
	float: left;
	margin: 10px 5px;
}
#pageNumList #pageText{
	float: right;
	color: #666666;
	line-height: 34px;
	margin-left: 20px;
}