.content-table{width:100%;border-collapse: separate;border-spacing:0 5px;padding:0 5px;border:0;}
.content-table tr{border-radius: 6px;box-shadow: 1px 1px 2px #cccccc;}
.content-table th{border-radius:6px 0 0 6px;text-align:center;border:0;height:40px;padding-right:0;background:#f1f1f1;}
.content-table td{border:0;padding:5px 10px;}
.content-table textarea{height:92px;width:calc(100% - 10px)}
.contentTableContent div img,.contentTableContent div span{vertical-align:middle;}
.contentTableContent div img + span{padding-left:10px;}
#contentTableBottom{overflow:hidden;}
.contentTableTitle{color:#666666;cursor:default;}