body{
	background:url(/jikuang/statics/system/images/ui/login_background.png) no-repeat;
}
.input-focus{
	box-shadow: 0px 0px 3px #22b8de!important;
}
.login-header{
	height: 65px;
    line-height: 65px;
    min-width: 1054px;
}
.login-header .header-inner{
	width: 1200px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
}
.login-header .header-inner .logo{
	background: url(/jikuang/statics/system/images/ui/login_logo.png) no-repeat;
    display: inline-block;
    width: 245px;
    height: 40px;
    margin: 15px 0 0 15px;
}
.login-main{
	min-width: 1054px;
	height:550px;
    margin-top: 150px;
}
.login-main .line{
	width: 364px;
    margin: 0 auto;
}
.login-main .line-l{
	float:left;
	width:100px;
    height: 6px;
	background:#22b8de;
}
.login-main .line-r{
	float:left;
	width:264px;
    height: 6px;
	background:#d3f1f8;
}
.login-main .btn{
	width:124px;
	height:44px;
	margin:0 auto;
	margin-top:10px;
}
.login-main .login-main-bg{
	width: 500px;
    height: 420px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 2px #cccccc;
    background: #ffffff;
}
.main-inner{
    width: 364px;
    margin:0 auto;
    padding:0 10px;
}
.login-p{
	color: #666666;
    font-size: 22px;
    height: 44px;
    line-height: 44px;
    padding-top:20px;
    text-indent: 30px;
    margin-bottom: 10px;
    margin-left:10px;
    font-family: 微软雅黑;
    font-weight: bold;
}
.login-input{
	width:332px;
	height:42px;
	margin:0 10px 15px 30px;
}
.login .login-username{
	margin-top:40px;
}
.login .check{
}
.login .check .check-input{
	float:left;
}
.login .check .check-code{
	float:left;
	margin-left:6px;
}
.login .login-other{
	padding:0 35px;
	height:30px;
	line-height:30px;
}
.login-other .forgetpwd-tips{
	float:left;
	color:#999;
	cursor:pointer;
}
.login-other .register-tips{
	float:right;
	color:#999;
	cursor:pointer;
}
.login{
	display:block;
}
.login .login-btn{
	width:124px;
	height:44px;
	margin:0 auto;
	margin-top:40px;
}
.forgetpwd{
	display:none;
}
.forgetpwd .forgetpwd-username{
	margin-top:90px;
}
.forgetpwd-news{
	display:none;
}
.forgetpwd .forgetpwd-check{
	float:left;
}
.forgetpwd .forgetpwd-smsbtn{
	float:left;
	/* margin-left:10px; */
}
.forgetpwd-btnitem{
	overflow:hidden;
	padding:0 29px;
	margin-top:90px;
}
#forgetpwd-news{
	display: none;
}
.forgetpwd-newspwd{
	margin-top:90px;
}
#forgetpwd-newsbtn{
	margin-top:90px;
}
.goback{
	float:left;
}
.item-btn{
	float:right;
}
.register-btnitem{
	overflow:hidden;
	padding:0 29px;
	margin-top:10px;
}
.register{
	display:none;
}
.register .register-check{
	float:left;
}
.register .register-smsbtn{
	float:left;
	/* margin-left:10px; */
}
.register-agreement{
	width:332px;
	height:42px;
	margin:0 10px 5px 30px;
}
.register-checkBox{
	display: inline-block;
}
.register-btn{
	margin-top:0 !important;
}
.login-ft {
	padding-top: 20px;
	min-width: 1200px
}

.login-ft .ft-inner {
	margin: 0 auto
}

.login-ft .ft-inner .about-us {
	height: 20px;
	line-height: 20px;
	width: 295px;
	margin: 0 auto;
	margin-bottom: 10px
}

.login-ft .ft-inner .about-us a {
	color: #666;
	text-decoration: none;
	font-size: 14px;
	float: left;
	margin-left: 15px
}

.login-ft .ft-inner .about-us a:hover {
	text-decoration: underline
}

.login-ft .ft-inner .address {
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-bottom: 10px
}

.login-ft .ft-inner .other-info {
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-bottom: 50px
}