body{background:#d3f1f8;color:#999999;}
#searchbar {padding:10px 0;background:#ffffff;border-bottom:1px solid #f1f1f1;box-shadow:1px 1px 2px #cccccc;border-radius:6px 6px 0 0;}
#searchbar div{display:inline-block;}
#searchbar .searchbarRightBtn{float:right;margin-right:10px;}
#searchbar .searchbar_titleName{cursor:default;margin:0 10px;display:inline-block;vertical-align:middle;line-height:44px;border-radius:6px;background:#f1f1f1;color:#666666;padding:0 10px;}
#moreSearchArea {display:none;padding:15px 0;background:transparent;border-radius:6px;width:100%;overflow:auto;}
#moreSearchArea::-webkit-scrollbar-track-piece{background-color:transparent;}
#moreSearchArea::-webkit-scrollbar-thumb{border:2px solid #d3f1f8;}
#moreSearchArea #moreSearchAreaMiddle{max-width:1530px;margin:0 auto;border-radius:10px;border:1px solid #f1f1f1;background:#ffffff;}
#moreSearchArea .search-table th{padding:0;width:100px;}
#moreSearchArea .search-table{border-collapse:separate;border-spacing:0 5px;padding:0 5px;border:0px;}
#moreSearchArea .search-table textarea{border-radius:6px;border-color:#dddddd;}
#moreSearchArea .search-table tr{border-radius:6px;box-shadow:1px 1px 2px #cccccc;}
#moreSearchArea .search-table tr td{border:0;border-radius:6px;padding:0;}
#moreSearchArea .search-table .moreSearchTitle{cursor:default;width:100px;color:#666666;background:#f1f1f1;text-align:center;display:inline-block;text-indent:0;margin-right:5px;vertical-align:top;border-radius:6px 0 0 6px;}
#moreSearchArea .search-table .contentTitle{cursor:default;width:200px;color:#666666;background:#f1f1f1;text-align:center;display:inline-block;text-indent:0;margin-right:5px;vertical-align:top;border-radius:6px 0 0 6px;}
#moreSearchArea .search-table .moreSearchTitle p,#moreSearchArea .search-table .contentTitle p{line-height:54px;vertical-align:middle;}
#moreSearchArea .moreSearchTitle + div,#moreSearchArea .moreSearchTitle + div + div{margin:5px 0;vertical-align:top;display:inline-block;}
#moreSearchArea .contentTitle + div,#moreSearchArea .contentTitle + div + div{margin:5px 0;vertical-align:top;display:inline-block;}
#moreSearchArea #resetBtn{margin:0 0 5px 0;}
#moreSearchArea #dayList td{border:0;padding:0;border-radius:0;box-shadow:none;background:none;}
#moreSearchArea #moreSearchAreaMiddleBottom{overflow:hidden;padding:5px 0;border-top:1px solid #f1f1f1;}
#moreSearchArea #moreSearchAreaMiddleBottom div{float: right;margin-right: 10px;}
#moreSearchArea .search-table tr td .shipcustMessage{margin-bottom:5px;}
#moreSearchArea .search-table tr td .shipcustTitle{line-height:201px;}
#moreSearchArea .search-table tr td .textareaTitle{line-height:94px;}
#moreSearchArea .moreSearchContent div{display:inline-block}
#dayList tr{box-shadow:none!important;}